@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

p {
    margin-bottom: 6pt;
}

#soal-scroll {
    scroll-behavior: smooth;
}

@layer components {
    .tab-active {
        @apply after:h-1 after:min-w-[20px] after:w-full after:max-w-[20%] after:absolute after:bg-curious-blue after:-bottom-2 after:left-1/2 after:-translate-x-1/2 after:rounded-full after:transition-all after:duration-75;
    }

    .materi {
        @apply bg-white hover:bg-slate-200;
    }

    .materi-active {
        @apply bg-curious-blue text-white hover:bg-curious-blue-700;
    }

    .judul-materi {
        @apply text-curious-blue text-2xl font-semibold mb-4;
    }

    .subjudul-materi {
        @apply text-black text-lg mb-2;
    }

    .isi-materi {
        @apply text-base mb-2 text-justify;
    }

    .gambar-materi {
        @apply mb-2;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: 0;
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .gutter-stable {
        scrollbar-gutter: stable;
    }

    .custom-underline {
        @apply relative after:absolute after:h-1 after:w-1/2 after:bg-curious-blue after:rounded-full after:-bottom-2 after:left-1/2 after:-translate-x-1/2;
    }

    .list-lower-alpha {
        list-style-type: lower-alpha;
        @apply ml-6;
    }

    .list-upper-alpha {
        list-style-type: upper-alpha;
        @apply ml-6;
    }

    .list-stripe {
        list-style-type: "-";
        @apply ml-6;
    }
}
